<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title></title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">


<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" dashboard" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">


  <!-- Header -->
  <div id="header">
      <div id="branding">


<link rel="stylesheet" href="/static/css/admin.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">
<h1 =="" 'head'="">UrbanDelivery Admin</h1>

      </div>


      <div id="user-tools">

              Welcome,
              <strong>gaurav</strong>.



    <!--         <a href="/">View site</a> / -->






              <a href="/administration/password_change/">Change password</a> /

              <a href="/administration/logout/">Log out</a>

      </div>



  </div>
  <!-- END Header -->







  <!-- Content -->
  <div id="content" class="colMS">

      <h1>Welcome to URBAN DELIVERY Portal</h1>

<div id="content-main">



      <div class="app-accounts module">
      <table>
      <caption>
          <a href="/administration/accounts/" class="section" title="Models in the Accounts application">Accounts</a>
      </caption>

          <tbody><tr class="model-deliveryperson">

              <th scope="row"><a href="/administration/accounts/deliveryperson/">Delivery persons</a></th>



              <td><a href="/administration/accounts/deliveryperson/add/" class="addlink">Add</a></td>




              <td><a href="/administration/accounts/deliveryperson/" class="changelink">Change</a></td>


          </tr>

          <tr class="model-post">

              <th scope="row"><a href="/administration/accounts/post/">Posts</a></th>



              <td><a href="/administration/accounts/post/add/" class="addlink">Add</a></td>




              <td><a href="/administration/accounts/post/" class="changelink">Change</a></td>


          </tr>

          <tr class="model-profile">

              <th scope="row"><a href="/administration/accounts/profile/">Profiles</a></th>



              <td><a href="/administration/accounts/profile/add/" class="addlink">Add</a></td>




              <td><a href="/administration/accounts/profile/" class="changelink">Change</a></td>


          </tr>

      </tbody></table>
      </div>

      <div class="app-auth module">
      <table>
      <caption>
          <a href="/administration/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
      </caption>

          <tbody><tr class="model-group">

              <th scope="row"><a href="/administration/auth/group/">Groups</a></th>



              <td><a href="/administration/auth/group/add/" class="addlink">Add</a></td>




              <td><a href="/administration/auth/group/" class="changelink">Change</a></td>


          </tr>

          <tr class="model-user">

              <th scope="row"><a href="/administration/auth/user/">Users</a></th>



              <td><a href="/administration/auth/user/add/" class="addlink">Add</a></td>




              <td><a href="/administration/auth/user/" class="changelink">Change</a></td>


          </tr>

      </tbody></table>
      </div>

      <div class="app-django_twilio module">
      <table>
      <caption>
          <a href="/administration/django_twilio/" class="section" title="Models in the Django_Twilio application">Django_Twilio</a>
      </caption>

          <tbody><tr class="model-caller">

              <th scope="row"><a href="/administration/django_twilio/caller/">Callers</a></th>



              <td><a href="/administration/django_twilio/caller/add/" class="addlink">Add</a></td>




              <td><a href="/administration/django_twilio/caller/" class="changelink">Change</a></td>


          </tr>

          <tr class="model-credential">

              <th scope="row"><a href="/administration/django_twilio/credential/">Credentials</a></th>



              <td><a href="/administration/django_twilio/credential/add/" class="addlink">Add</a></td>




              <td><a href="/administration/django_twilio/credential/" class="changelink">Change</a></td>


          </tr>

      </tbody></table>
      </div>

      <div class="app-otp_totp module">
      <table>
      <caption>
          <a href="/administration/otp_totp/" class="section" title="Models in the Otp_Totp application">Otp_Totp</a>
      </caption>

          <tbody><tr class="model-totpdevice">

              <th scope="row"><a href="/administration/otp_totp/totpdevice/">TOTP devices</a></th>



              <td><a href="/administration/otp_totp/totpdevice/add/" class="addlink">Add</a></td>




              <td><a href="/administration/otp_totp/totpdevice/" class="changelink">Change</a></td>


          </tr>

      </tbody></table>
      </div>


</div>


<div id="content-related">
  <div class="module" id="recent-actions-module">
      <h2>Recent actions</h2>
      <h3>My actions</h3>



          <ul class="actionlist">

          <li class="changelink">

                  <a href="/administration/auth/user/6/change/">Gaurav16</a>

              <br>

                  <span class="mini quiet">User</span>

          </li>

          <li class="changelink">

                  <a href="/administration/auth/user/2/change/">gaurav</a>

              <br>

                  <span class="mini quiet">User</span>

          </li>

          <li class="changelink">

                  Demo Google

              <br>

                  <span class="mini quiet">Socialapp</span>

          </li>

          <li class="changelink">

                  Demo Google

              <br>

                  <span class="mini quiet">Socialapp</span>

          </li>

          <li class="changelink">

                  urbandelivery.com

              <br>

                  <span class="mini quiet">Site</span>

          </li>

          <li class="addlink">

                  Demo Google

              <br>

                  <span class="mini quiet">Socialapp</span>

          </li>

          <li class="changelink">

                  <a href="/administration/accounts/post/12/change/">PIHU</a>

              <br>

                  <span class="mini quiet">Post</span>

          </li>

          <li class="addlink">

                  <a href="/administration/accounts/post/7/change/">PIHU</a>

              <br>

                  <span class="mini quiet">Post</span>

          </li>

          <li class="deletelink">

                  PIHU

              <br>

                  <span class="mini quiet">Post</span>

          </li>

          <li class="deletelink">

                  gaurav

              <br>

                  <span class="mini quiet">Post</span>

          </li>

          </ul>

  </div>
</div>

      <br class="clear">
  </div>
  <!-- END Content -->

  <div id="footer"></div>
</div>
<!-- END Container -->



</body>
</html>
