{% extends 'base.html' %}

{% block content %}
<div class="form">
  <div class="tab-group">
      <div id="tab-signup" onclick="location.href='{% url 'signup' %}';"><h3>SignUp</h3></div>
      <div id="tab-login" onclick="location.href='{% url 'accounts:login' %}';"><h3>Login</h3></div>
  </div>

  <form method="post">
  {% csrf_token %}
  {% for field in form %}
      <p>
        <br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
  {% endfor %}
  <button type="submit" class="button button-block">Sign up</button>
  </form>
</div>

{% endblock %}
